@page
@model IndexModel

@if (Model.InicioSesion)
{
    Layout = "Dashboard";
    ViewData["Title"] = "Dashboard";
    @inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
        @functions{
            public string GetAntiXsrfRequestToken()
            {
                return Xsrf.GetAndStoreTokens(HttpContext).RequestToken;
            }
        }
    <script>
    var credencial = {usuario : "" + @Model.idUsuario, password : "" + @Model.password,__RequestVerificationToken:"@GetAntiXsrfRequestToken()"}
    </script>
    <div id="principal">
        <h3>Principal</h3>
        <h4>Productos recientes</h4>
        <div class=" w-100">
            <div class="card-columns">
                <!--cards productos recientes abajo-->
                
            </div>
        </div>
        <h4 >Acabo de publicar</h4>
        <div class="card-columns" id="acaboDePublicar_Div">
            <!--cards productos publicados recientemente: abajo-->
            <button value="actualizar" onclick="obtenerProductosRecienPublicados(@Model.idUsuario,'' + @Model.password,'@GetAntiXsrfRequestToken()')"></button>
        </div>
    </div>
    <div id="vender">
        <div class="card my-4">
            <div class="card-header">Nuevo producto para vender</div>
            <div class="card-body">
                <form id="formulario_publicar_producto" asp-antiforgery="true">
                    <div class="form-group form-row">
                        <label for="nombre_prducto_nuevo" class="col-sm-3 col-md-2">El nombre del producto</label>
                        <input class="form-control col-sm-9 col-md-10" type="text" id="nombre_prducto_nuevo" name="Nombre"/>
                    </div>
                    <div class="form-group form-row">
                        <label class="col-2">Datos del producto</label>
                        <input type="number" id="precio_nuevo_producto" class="form-control col-2" placeholder="Precio en moneda nacional" name="precio"/>
                        <select class="custom-select col mx-2" id="seleccionar_categoria_nuevo_producto" name="Categoria">
                            <option selected>Seleccionar categoria</option>
                            <option value="dulces" name="categoria">Dulces y botanas</option>
                            <option value="comida-rapida">Comida rápida</option>
                            <option value="postres">Postres</option>
                        </select>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="elegir_foto_producto_nuevo"/>
                        <label class="custom-file-label" for="elegir_foto_producto_nuevo" data-browse="Elegir">Sube una foto de tu producto</label>
                    </div>
                    <div class="form-group my-1">
                        <label for="descripcion_producto_nuevo">Descripción extra del producto</label>
                        <textarea name="Descripcion" class="form-control" rows="5" id="descripcion_producto_nuevo" placeholder="Escribe todo lo que consideres que la gente debe saber de tu producto"></textarea>
                    </div>
                    <input type="hidden" value="@Model.idUsuario" name="id"/>
                    <input type="hidden" value="@Model.password" name="pass"/>
                    <div class="form-group d-flex justify-content-end">
                        <input id="boton_publicar_producto_nuevo" type="button" value="Publicar" class="form-control btn btn-success w-auto my-2"/>
                    </div>
                    
                </form>
            </div>
        </div>
        <h4 class="my-4" id="iraproductos">Mis productos</h4>
        <div class="card-columns my-3 " id="mis_productos"></div>
    </div>
    <div id="calificaciones">
        <h3>Calificaciones y comentarios</h3>
    </div>
}
else
{
    ViewData["Title"] = "Home page";
    <!--Carrusel-->
    <div id="carrusel_productos_destacados" class="carousel slide " data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carrusel_productos_destacados" data-slide-to="0" class="active"></li>
            <li data-target="#carrusel_productos_destacados" data-slide-to="1"></li>
            <!--aqui agregar productos-->
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img-prueba.png" class="d-block w-100" alt="nombre de producto aqui"/>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Nombre de producto 1</h5>
                    <p>Datos de producto</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img-prueba.png" class="d-block w-100" alt="nombre de producto aqui"/>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Nombre de producto 2</h5>
                    <p>Datos de producto</p>
                </div>
            </div>
            <!--aqui agregar productos-->
            <a href="#carrusel_productos_destacados" class="carousel-control-prev" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a href="#carrusel_productos_destacados" class="carousel-control-next" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>

    </div>

    <!--seccion de productos destacados (acordeon)-->
    <div class="accordion" id="acordion_productos_pagina_principal">
        <div class="card">
            <div class="card-header" id="encabezado_c1">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#c1">Categoria 1</button>

                </h2>
            </div>
            <div id="c1" class="collapse" aria-labelledby="Categoria 1" data-parent="#acordion_productos_pagina_principal">
                <div class="card-body">
                    Aqui van productos
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="encabezado_c2">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#c2">Categoria 2</button>
                </h2>
            </div>
            <div id="c2" class="collapse" aria-labelledby="Categoria 2" data-parent="#acordion_productos_pagina_principal">
                <div class="card-body">
                    Aqui van productos
                </div>
            </div>
        </div>
    </div>
    <script>
if(localStorage.getItem("sesion_iniciada") === "true"){
    window.location.href = "/login";
}
</script>
}
