@page
@model mercado_uanl.Pages.ObtenerProductosPublicos

@{
    Layout = null;
}
@if (Model.Recientes & Model.ListaProductos.Count > 0)
{
    <h4 class="my-2">Productos recientes</h4>
}
else if (Model.ListaProductos.Count > 0 && !Model.porCategoria && !Model.porCampus)
{
    <h4 class="my-2">Todos los productos</h4>
}
else if (Model.porCategoria )
{
    <h4 class="my-2">@Model.stringsCategorias[Model.valor-1]</h4>
    if (!(Model.ListaProductos.Count > 0))
    {
        <div class="alert-info alert">¡No hay productos de esta categoria!</div>
    }                                                            
}
else if (Model.porCampus)
{
    <h4 class="my-2">@Model.stringsCampus[Model.valor-1]</h4>
}
<div class="list-group">
    @foreach (var producto in Model.ListaProductos)
    {
        @if (Model.Recientes)
        {
            <a href="#"
               onclick="obtenerInfoProducto(@producto.Id,1)"
               class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-5">@producto.Nombre</h5>
                    <p><strong>$@producto.Precio</strong></p>
                </div>
                
                <div class="d-flex w-100 justify-content-start">
                    <div class="contenedor_imagen">
                        <img class="imagen-producto" src="@producto.UrlFoto"/>
                    </div>
                    Vendedor: @Model.NombreUsuarioPorId(producto.IdUsuario)
                </div>
            </a>
        }
        else if (Model.porCampus && Model.valor==1) //desde CU
        {
            <a href="#"
               onclick="obtenerInfoProducto(@producto.Id,4)"
               class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-5">@producto.Nombre</h5>
                    <p><strong>$@producto.Precio</strong></p>
                </div>
                
                <div class="d-flex w-100 justify-content-start">
                    <div class="contenedor_imagen">
                        <img class="imagen-producto" src="@producto.UrlFoto"/>
                    </div>
                    Vendedor: @Model.NombreUsuarioPorId(producto.IdUsuario)
                </div>
            </a>
        }
        else if (Model.porCampus && Model.valor == 2) //desde Mederos
        {
            <a href="#"
               onclick="obtenerInfoProducto(@producto.Id,5)"
               class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-5">@producto.Nombre</h5>
                    <p><strong>$@producto.Precio</strong></p>
                </div>
                
                <div class="d-flex w-100 justify-content-start">
                    <div class="contenedor_imagen">
                        <img class="imagen-producto" src="@producto.UrlFoto"/>
                    </div>
                    Vendedor: @Model.NombreUsuarioPorId(producto.IdUsuario)
                </div>
            </a>
        }
        else if (Model.porCampus && Model.valor == 3) //desde Ciencias de la Salud
        {
            <a href="#"
               onclick="obtenerInfoProducto(@producto.Id,6)"
               class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-5">@producto.Nombre</h5>
                    <p><strong>$@producto.Precio</strong></p>
                </div>
                
                <div class="d-flex w-100 justify-content-start">
                    <div class="contenedor_imagen">
                        <img class="imagen-producto" src="@producto.UrlFoto"/>
                    </div>
                    Vendedor: @Model.NombreUsuarioPorId(producto.IdUsuario)
                </div>
            </a>
        }
        else if (Model.porCampus && Model.valor == 4) // desde Linares
        {
            <a href="#"
               onclick="obtenerInfoProducto(@producto.Id,7)"
               class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-5">@producto.Nombre</h5>
                    <p><strong>$@producto.Precio</strong></p>
                </div>
                
                <div class="d-flex w-100 justify-content-start">
                    <div class="contenedor_imagen">
                        <img class="imagen-producto" src="@producto.UrlFoto"/>
                    </div>
                    Vendedor: @Model.NombreUsuarioPorId(producto.IdUsuario)
                </div>
            </a>
        }
        else if (Model.porCampus && Model.valor == 5) // desde Sabinas Hidalgo
        {
            <a href="#"
               onclick="obtenerInfoProducto(@producto.Id,8)"
               class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-5">@producto.Nombre</h5>
                    <p><strong>$@producto.Precio</strong></p>
                </div>
                
                <div class="d-flex w-100 justify-content-start">
                    <div class="contenedor_imagen">
                        <img class="imagen-producto" src="@producto.UrlFoto"/>
                    </div>
                    Vendedor: @Model.NombreUsuarioPorId(producto.IdUsuario)
                </div>
            </a>
        }
        else if (Model.porCampus && Model.valor == 6) //desde Ciencias Agropecuarias
        {
            <a href="#"
               onclick="obtenerInfoProducto(@producto.Id,9)"
               class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-5">@producto.Nombre</h5>
                    <p><strong>$@producto.Precio</strong></p>
                </div>
                
                <div class="d-flex w-100 justify-content-start">
                    <div class="contenedor_imagen">
                        <img class="imagen-producto" src="@producto.UrlFoto"/>
                    </div>
                    Vendedor: @Model.NombreUsuarioPorId(producto.IdUsuario)
                </div>
            </a>
        }
        else
        {
            @*cuando se piden todos los productos*@
            <a href="#"
               onclick="obtenerInfoProducto(@producto.Id,2)"
               class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-5">@producto.Nombre</h5>
                    <p><strong>$@producto.Precio</strong></p>
                </div>
                <div class="d-flex w-100 justify-content-start">
                    <div class="contenedor_imagen">
                        <img class="imagen-producto" src="@producto.UrlFoto"/>
                    </div>
                    Vendedor: @Model.NombreUsuarioPorId(producto.IdUsuario)
                </div>
            </a>
            
        }  
    }
</div>
