@page
@model mercado_uanl.Pages.Vendiendo

@{
    Layout = null;
}
@*Esta pagina regresa los productos que vende el usuario en forma de cards*@
@*Recibe obligatoriamente usuario (id) y password. Opcionalmente recibe un parametro que indica si quiere los reciente*@
@*Querer los recientes quiere decir que regresa hasta los ultimos tres publicados. Esto se pide para ponerlo en la*@
@*pantalla "Principal"*@
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(HttpContext).RequestToken;
    }
}
@*Genera el encabezado correspondiente, dependiendo si es para los <<recientes>> o <<todos mis productos>>*@
@*Se asegura de que haya al menos un elemento en la lista, si no no muestra el encabezado correspondiente*@
@if (Model.Recientes && Model.ProductosDelUsuario.Count > 0)
{
    <h4 class="my-2">Acabo de publicar</h4>
}
else if(Model.ProductosDelUsuario != null)
{
    <h4 class="my-2" id="iraproductos">Mis productos</h4> 
}
else if(Model.Recientes && Model.ProductosDelUsuario.Count == 0)
{
    <h4 class="my-2" >Acabo de publicar</h4>
    <div class="alert alert-info">
        <div class="alert-heading">No hay nada que mostrar</div>
    </div>
}
else
{
    <h4 class="my-2" id="iraproductos">Mis productos</h4> 
    <div class="alert alert-info">
        <div class="alert-heading">No hay nada que mostrar</div>
    </div>
}
@*Genera los cards*@
<div class="list-group">
  @foreach(var Producto in Model.ProductosDelUsuario)
  {
      <div href="#" class="list-group-item my-3 mx-1">
          <div class="d-flex w-100 justify-content-md-between">
              <div class="form-group">
                  <label for="producto_@Producto.Id">Nombre</label>
                  <input class="form-control" type="text" id="producto_@Producto.Id" value="@Producto.Nombre"/>
              </div>
              <div class="form-group w-auto">
                  <label for="precio_@Producto.Id">Precio en MXN</label>
                  <input class="form-control" type="number" id="precio_@Producto.Id" value="@Producto.Precio"/>
              </div>
          </div>
          <div>
              @for (var i = 0; i < Model.ObtenerPromedioProducto(Producto.Id); i++)
              {
                  <i  class="fas fa-star" style="color:#FFD133"></i>
              }
          </div>
          <div class="d-flex w-100 justify-content-md-end">
              <div class="form-group">
                  <label for="categoria_@Producto.Id">Categoría</label>
                  <select id="categoria_@Producto.Id" class="custom-select w-auto" name="Categoria" required="true">
                      @if (Producto.Categoria == "dulces")
                      {
                          <option selected value="dulces">Dulces y botanas</option>
                      }
                      else
                      {
                          <option value="dulces">Dulces y botanas</option>
                      }
                      @if (Producto.Categoria == "comida-rapid")
                      {
                          <option selected value="comida-rapida">Comida rápida</option>
                      }
                      else
                      {
                          <option value="comida-rapida">Comida rápida</option>
                      }
                      @if (Producto.Categoria == "postres")
                      {
                          <option selected value="postres">Postres</option>
                      }
                      else
                      {
                          <option value="postres">Postres</option>
                      }
                      @if (Producto.Categoria == "electronica")
                      {
                          <option selected value="electronica">Electrónica y computación</option>
                      }
                      else
                      {
                          <option value="electronica">Electrónica y computación</option>
                      }
                      @if (Producto.Categoria == "accesorios-movil")
                      {
                          <option selected value="accesorios-movil">Accesorios de celular</option>
                      }
                      else
                      {
                          <option value="accesorios-movil">Accesorios de celular</option>
                      }
                      @if (Producto.Categoria == "electrodomesticos")
                      {
                          <option selected value="electrodomesticos">Electrodomésticos</option>
                      }
                      else
                      {
                          <option value="electrodomesticos">Electrodomésticos</option>
                      }
                      @if (Producto.Categoria == "libros")
                      {
                          <option selected value="libros">Libros y material escolar</option>
                      }
                      else
                      {
                          <option value="libros">Libros y material escolar</option>
                      }
                  </select>
                  
              </div>

          </div>
          <div class="d-flex w-100 justify-content-between">
              <div class="contenedor_imagen">
                  <img class="imagen-producto" src="@Producto.UrlFoto"/>
              </div>
              <div class="form-group w-100">
                  <label for="descripcion_@Producto.Id">Descripción</label>
                  <textarea id="descripcion_@Producto.Id" class="form-control h-75">@Producto.Descripcion</textarea>
              </div>
          </div>
          
          
              
          <div class="d-flex w-100 justify-content-end">
              <button class="btn btn-primary mx-1" onclick="actualizarInfoProducto(@Producto.Id,'producto_@Producto.Id','precio_@Producto.Id','descripcion_@Producto.Id','categoria_@Producto.Id')"><i class="fas fa-save"></i></button>
              <button class="btn btn-warning"
                  onclick="OcultarDesocultarProducto(@Producto.IdUsuario,@Model.Usuario.Password,@Producto.Id,'@GetAntiXsrfRequestToken()')">
                                                       
                  @if (Producto.Publico)
                  {
                      <i class="far fa-eye-slash"></i>
                  }
                  else
                  {
                      <i class="fas fa-eye"></i>
                  }
              </button>
              @if (Model.Recientes)
              {
                  <button class="btn btn-danger mx-1" onclick="eliminarProducto(@Producto.IdUsuario,@Model.Usuario.Password,@Producto.Id,'@GetAntiXsrfRequestToken()',1)"><i class="fas fa-trash"></i></button>
              }
              else
              {
                  <button class="btn btn-danger mx-1" onclick="eliminarProducto(@Producto.IdUsuario,@Model.Usuario.Password,@Producto.Id,'@GetAntiXsrfRequestToken()',2)"><i class="fas fa-trash"></i></button>
              }
              
          </div>
      </div>
  }  
</div>

@*Muestra link solo si hay al menos un producto que mostrar y son los recientes*@
@if (Model.Recientes & Model.ProductosDelUsuario.Count > 0)
{
    <a href="#" onclick="clickEnMisProductos()">Ver todos mis productos</a>
}